# Dependências
node_modules/

# Logs do sistema e de erros
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente e chaves secretas (segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pastas de build / compilação
dist/
build/
